<ul>
  <nav>
  <li> <a routerLink="home">Home</a> </li>
  <li> <a routerLink="about">About</a> </li>
  <li> <a routerLink="workexperience">Work experience</a> </li>
  <li> <a routerLink="experties">Area of experties</a> </li>
  <li> <a routerLink="hobbies">Hobbies</a> </li>
  <li> <a routerLink="achievement">Achievement</a> </li>
  <li> <a routerLink="training">Training attended</a> </li>
  <li> <a routerLink="contact">Contact Me</a> </li> 
</nav>
</ul>

<!-- <app-accoutslist></app-accoutslist> -->

<router-outlet></router-outlet>	